<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
</head>
<body>
    <div class="container">
        <h1>스도쿠!</h1>
        <button onclick="get_problem()">문제 만들기</button>
        <button onclick="solve_problem()">문제 풀기</button>
        <table id="board"></table>
    </div>
    <script>
        let sudokuData;

        function set_sudoku(data) {
            let table = document.getElementById('board');
            table.innerHTML = '';
            for (let i = 0; i < 9; i++) {
                let row = table.insertRow();
                for (let j = 0; j < 9; j++) {
                    let cell = row.insertCell();
                    cell.textContent = data[i][j];
                }
            }
        }

        function get_problem() {
            fetch('/api/problem')
                .then(response => response.json())
                .then(data => {
                    set_sudoku(data);
                    sudokuData = data;
                });
        }

        function solve_problem() {
            fetch('/api/solve', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(sudokuData)
            })
                .then(response => response.json())
                .then(data => set_sudoku(data));
        }
    </script>
</body>
</html>
